<div class="flex items-center justify-center">
          <div class="bg-white w-8/12 mt-10 rounded-lg">
            <div class="h-2 bg-indigo-400 rounded-t-md"></div>
            <div class="flex items-center flex-col">
              <h1 class="font-bold mt- pb-2 border-b border-gray-200 text-5xl">Upcoming Events</h4>
            </div>
            <div class="flex items-center pt-2 pb-6 p-3">
              <card class="mt-4 p-3 w-80">
                <div class="bg-white rounded overflow-hidden shadow-md">
                  <img
                    src="{{!}}"
                    alt="">
                <div class="">
                    <span class="font-bold text-lg">Event Name</span>
                    <span class="block text-gray-500 text-sm">{{!}}</span>
                </div>
              </div>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>