<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post_title" type="text" value="{{post.title}}"/></br></br>
      <input name="post_text" type="text" value="{{post.post_text}}">
    </div>
    <div>
      by you on {{format_date post.createdAt}}
    </div>
    <button type="submit">Save Post |</button>
    <button type="button" class="delete">Delete Post</button>
  </form>
</article>

<script src="/javascript/edit_post.js"></script>
<script src="/javascript/delete_post.js"></script>
