<article class="ml-10 w-4/12 rounded-lg bg-white">
    <div class="h-2 bg-indigo-400 rounded-t-md"></div>
  <a class="mx-10 p-3 border border-white-500 bg-purple-50 hover:border-transparent rounded text-xl hover:text-purple-500 duration-500" href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post_title" type="text" value="{{post.title}}"/></br></br>
      <input name="post_text" type="text" value="{{post.post_text}}">
    </div>
    <div>
      by you on {{format_date post.createdAt}}
    </div>
    <button type="submit" class="mx-10 p-3 border border-white-500 bg-purple-50 hover:border-transparent rounded text-xl hover:text-purple-500 duration-500">Save Post |</button>
    <button type="button" class="delete mx-10 p-3 border border-white-500 bg-purple-50 hover:border-transparent rounded text-xl hover:text-purple-500 duration-500">Delete Post</button>
  </form>
</article>

<script src="/javascript/edit_post.js"></script>
<script src="/javascript/delete_post.js"></script>
