{{!-- for single posts --}}
{{> post-content post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-content" placeholder="Type something..."></textarea>
  </div>

  <div>
    <button type="submit" class="text-xl hover:text-purple-500 duration-500 ">Post comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}


<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="text-xl hover:text-purple-500 duration-500">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> <post-content post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>