{{!-- for single posts --}}
<div class="w-full relative">
      <div class="w-full h-full"></div>
      <div class="w-full h-full flex flex-col absolute top-0 left-0 justify-center items-center z-30">
        <div class="md:text-6xl font-bold text-white bg-black-300">Event Name</div>

      </div>
      <!-- Event Image -->
      <img src="https://picsum.photos/id/390/2750/800" />
    </div>
    </div>

    <div class="flex flex-inline bg-indigo-400 text-lg text-white shadow-md items-center justify-center">
      <span>Attendies:</span>
      <p>5</p>
    </div>

    <article class="">
      <div class="items-center justify-center">
        <div class="bg-white h-70 mt-10 rounded-lg">
          <div class="h-2 bg-indigo-400 rounded-t-md"></div>
          <div class="flex items-center flex-col">
            <h1 class="font-bold mt- pb-2 border-b border-gray-200 text-5xl">Comments</h4>
          </div>
          <div class="md:flex items-center justify-center pt-3 pb-8 px-3">
            <card class="px-3 max-w-sm">
              <a class="text-blue-500 text-lg" href="./profile.html">@Maria_Ramos</a>
              <p class="text-gray-500 ">"Hey everyone I was looking for a place to grab some food. Do y'all know if
                there is anything close to the event"</p>
            </card>
            <card class="px-3 max-w-sm">
              <p class="text-blue-500 text-lg">@Maria_Ramos</p>
              <p class="text-gray-500 ">"Hey everyone I was looking for a place to grab some food. Do y'all know if
                there is anything close to the event"</p>
            </card>
            <card class="px-3 max-w-sm">
              <p class="text-blue-500 text-lg">@Maria_Ramos</p>
              <p class="text-gray-500 ">"Hey everyone I was looking for a place to grab some food. Do y'all know if
                there is anything close to the event"</p>
            </card>
            <card class="px-3 max-w-sm">
              <p class="text-blue-500 text-lg">@Maria_Ramos</p>
              <p class="text-gray-500 ">"Hey everyone I was looking for a place to grab some food. Do y'all know if
                there is anything close to the event"</p>
            </card>
          </div>
        </div>
      </div>
    </article>

{{> post-content post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-content" placeholder="Type something..."></textarea>
  </div>

  <div>
    <button type="submit" class="text-xl hover:text-purple-500 duration-500 ">Post comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}


<section>
  <div class="items-center justify-center">
        <div class="bg-white h-70 mt-10 rounded-lg">
          <div class="h-2 bg-indigo-400 rounded-t-md"></div>
          <div class="flex items-center flex-col">
      <h3>Create New Post</h3>

      <form class="new-post-form">
        <div>
          <label for="post-title">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="text-xl hover:text-purple-500 duration-500">Create</button>
      </form>
          </div>
          </div>
          </div>
</section>

{{!#if posts.length}}
<section>
   <div class="items-center justify-center">
        <div class="bg-white h-70 mt-10 rounded-lg">
          <div class="h-2 bg-indigo-400 rounded-t-md"></div>
          <div class="flex items-center flex-col">
                <h2>Your Posts</h2>
                <ol>
                  {{!#each posts as |post|}}
                  <li>
                    {{!> post-content post}}
                    <a href="/dashboard/edit/{{!post.id}}" class="edit-link">Edit post</a>
                  </li>
                  {{/each}}
                </ol>
              </section>
              {{/if}}
      </div>
      </div>
    </div>
<script src="/javascript/add-post.js"></script>