<div class="w-full relative">
      <div class="w-full h-full"></div>
      <div class="w-full h-full flex flex-col absolute top-0 left-0 justify-center items-center z-30">
        <div class="md:text-6xl font-bold text-white">Your next big event awaits</div>
        <div class="md:text-2xl text-white">Find and meet new friends.</div>
      </div>
      <img src="https://picsum.photos/id/390/2750/800" />
    </div>


    <div class="grid md:grid-cols-1">
      <div class="relative py-3 sm:max-w-6xl mx-auto">
        <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
          <div class="h-2 bg-indigo-400 rounded-t-md"></div>
          <div class="py-6 px-8">
            <p class="font-style: italic hover: text-center text-xl">"Find new friends" is our slogan, and Crowder delivers on this promise. With Crowder you can connect with others who enjoy your interests by searching for events on your own terms. You have the power on Crowder. Start your own new groups or events and communicate with people who have the same interests as you.</p>
          </div>
        </div>
      </div>
    </div>

