<section class="grid md:grid-cols-2 gap-10">

  <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
        <div class="py-6 px-8">
          <img
            src="https://images.pexels.com/photos/3321793/pexels-photo-3321793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/"
            alt="">
        </div>
      </div>



  <form class="signup-form">
    <div>
      <label for="username-signup">username:</label>
      <input type="text" id="username-signup"/>
    </div>
    <div>
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup"/>
    </div>
    <div>
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup"/>
    </div>
    <div>
      <button type="submit">signup</button>
    </div>
  </form>

  <form class="login-form">
    <div>
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">login</button>
    </div>
  </form>

</section>

<script src="/javascript/login.js"></script>







