<section>

   <div class="relative py-20 sm:max-w-xl mx-auto text-center">
      <span class="text-2xl text-white font-light">SIGN UP</span>
      <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
        <div class="h-2 bg-indigo-400 rounded-t-md"></div>
        <form class="py-6 px-8">
          <label for="username-signup" class="block font-semibold">Username<label>
              <input type="text" placeholder="Username"
                class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
              <label for="email-signup" class="block mt-3 font-semibold">Email<label>
                  <input type="text" placeholder="Email"
                    class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                  <label for="password-signup" class="block mt-3 font-semibold">Password<label>
                      <input type="password" placeholder="Password"
                        class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                      <div class="flex justify-between items-baseline">
                        <button class="mt-4 bg-indigo-500 text-white py-2 px-6 rounded-lg">Sign up</button>
                      </div>
        </form>
      </div>
      <span class="text-2xl text-white font-light">LOGIN</span>
      <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
        <div class="h-2 bg-indigo-400 rounded-t-md"></div>
        <form class="py-6 px-8">
          <label for="user-login" class="block font-semibold">Username or Email<label>
              <input type="text" placeholder="Username"
                class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
              <label for="password-login" class="block mt-3 font-semibold">Password<label>
                  <input type="password" placeholder="Password"
                    class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                  <div class="flex justify-between items-baseline">
                    <button class="mt-4 bg-indigo-500 text-white py-2 px-6 rounded-lg">Login</button>
                  </div>
        </form>
      </div>
    </div>

</section>
<script src="/javascript/login.js"></script>







