((FOR SINGLE POSTS))

{{!> post-content post}}

{{!#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" placeholder="Type something..."></textarea>
  </div>

  <div>
    <button type="submit">Post comment</button>
  </div>
</form>
{{!/if}}

{{!> comments post.comments}}

{{!#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{!/if}}